@import "patials/index";
@import "variables";

.art-customer-pic{
  position: relative;
  //background: url("./add_customer.svg") no-repeat 50% 20px;
}

.art-customer-pic .empty{
  border : dashed grey 5px;
  background-color: $gray-lighter;
}
.art-customer-pic .help-text{
  font-size:18px;
  font-weight: bold;
  color: grey;
  margin:75px 20px;
}

.art-customer-pic .art-upload-shot{
  //width:100%;
  z-index: 100;
  @extend %flexbox;
  @include justify-content(center);
  @include align-items(center);
  width:300px;
  position: absolute;
  opacity: .8;
  bottom:40px;
  left:10px;
  i{
    &:hover{
      color: black;
      background-color: $gray-light;
      opacity: .9;
    }
    background-color: $gray-lighter;
    padding: 10px 20px;
    opacity: .7;
  }
}
.art-customer-pic .file-input{
  position: absolute;
  border: solid black 1px;
  top:0;
  padding-top: 20px ;
  left: 50%;
  width:70px;
  opacity: 0;
}
.art-customer-pic .drop-area{
  position: absolute;
  width:320px;
  height:240px;
  top:0;
}
