@import "patials/index";
@import "variables";

.art-customer-pic{
  position: relative;
  //background: url("./add_customer.svg") no-repeat 50% 20px;
}

.art-customer-pic .empty{
  border : dashed grey 5px;
  background-color: $gray-lighter;
}
.art-customer-pic .help-text{
  font-size:18px;
  font-weight: bold;
  color: grey;
  margin:75px 20px;
}

.art-customer-pic .art-upload-shot{
  //width:100%;
  @extend %flexbox;
  @include justify-content(center);
  @include align-items(center);
  position: absolute;
  background-color: $gray-lighter;
  opacity: .8;
  bottom:20px;
  left:80px;
  i{
    &:hover{
      color: $primary;
      background-color: #969896;
    }
    padding: 10px 20px;
    opacity: 1;
  }
}