@import "patials/index";
@import "variables";

.art-img-input{
  background-color: $gray-lighter;
  border : dashed grey 5px;
}
.art-img-input .drop-area{
  position: relative;
  top:-5px;
  left:-5px;
}
.art-img-input .empty-text{
  position: relative;
  font-size:18px;
  font-weight: bold;
  color: grey;
  background-color: $gray-lighter;
  top: 25%;
  left:10%;
  margin:0;
  width:80%;
}
.art-img-input .close{
  position: relative;
  top: 5px;
  right: 5px;
  background-color: $gray-lighter;
  color: $gray-light;
  padding: 10px 20px;
  opacity: .7;
  &:hover{
    color: black;
    background-color: $gray-light;
    opacity: .9;
  }
}
.art-img-input .shot-or-upload{
  position: relative;
  width:100%;
  top:50%;
}
.art-img-input .shot-or-upload>div{
  @extend %flexbox;
  @include justify-content(center);
  @include align-items(center);
  width: 100%;
  opacity: .8;
  div{
    background-color: $gray-lighter;
    padding: 10px 20px;
    opacity: .7;
    &:hover{
      color: black;
      background-color: $gray-light;
      opacity: .9;
    }
  }
}
