@import "patials/index";
@import "variables";

.art-img-box{
  width:320px;
  height: 240px;
  background-color: $gray-lighter;
  position: relative;
}
.art-img-box .loading{
  position: absolute;
  width: 100%;
  left: 40%;
  top:40%;
}
.art-img-box .help-text{
  width: 100%;
}
.art-img-box .img-box{
  margin-bottom: 20px;
}
