@import "patials/index";
@import "variables";

.art-img-list-box{
  @extend %flexbox;
  @include flex-dir(row);
  list-style: none;
  padding: 0;
}

.art-img-list-box li{
  width: 320px;
  height:240px;
  margin-right: 25px;
}

