//$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
//@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
//@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...

.art-page-header{
  border-bottom: solid #E0E0E0 1px;
}
.art-search-bar>*{
  display: inline-block;
  margin-right:10px;
}
.art-search-bar>p{
  font-weight: bold;
}
.art-customer-search-in>span{
  // equivalent of longest menu element which is Customer's Name
  display: inline-block;
  width: 15ch;
  min-width: 15ch;

}

