//$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
//@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
//@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...

.art-select {
  background-color: red;
}
.art-menu-options{
  list-style:none;
  padding:0;
}

.art-menu {
  background-color: tomato;
  height:400px;
}
