@import "patials/index";
@import "variables";

.art-webcam .shot-btn{
  @extend %flexbox;
  @include justify-content(center);
  width:100%;
}
.art-webcam .camera-viewport{
  @extend %flexbox;
  @include justify-content(center);
  width:100%;
  border: solid 1px gray;
  margin-bottom: 20px;
}

.art-webcam .controls{
  width:100%;
  @extend %flexbox;
  @include justify-content(flex-end);
  button{
    margin: 10px;
  }
}