$tab-height: 40px;
$tab-bg-color : $gray-lighter;

.art-tab{
  background-color: $tab-bg-color;
  list-style: none;
  margin-bottom:1px;
}

.art-tab .tab-item{
  cursor: pointer;
  color:$gray-light;
  &:hover{
    background-color:$brand-primary;
    color:$white;
  }
  border-right: 1px solid $gray-lightest;
  border-left: 1px solid $gray-lightest;
  div{
    height: $tab-height;
    width: 300px;
    padding: 0 30px;
  }
}
.art-tab .active{
  background-color:$brand-primary;
  color:$white;

}
.art-tab .tab-text{
  i{
    margin-right:20px;
  }

  margin: 0;

  font-size: 20px;
}

.tab-content{
  margin-top: 1px;
}

.tab-content .tab-middle{
  padding: 0 10px 10px 10px !important;
}
